<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card shadow lg">
          <img
            src="https://images.pexels.com/photos/3551252/pexels-photo-3551252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="pic1"
          />
          <div class="card-body"></div>
          <p class="h3">Destination-1</p>
          <p>{{ getDate() }}</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
            enim rerum, dignissimos nemo necessitatibus accusamus est tenetur
            blanditiis quos natus!
          </p>
          <button class="btn btn-danger btn-sm">Book Now</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow lg">
          <img
            src="https://images.pexels.com/photos/11660966/pexels-photo-11660966.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="pic1"
          />
          <div class="card-body"></div>
          <p class="h3">Destination-2</p>
          <p>{{ getDate() }}</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
            enim rerum, dignissimos nemo necessitatibus accusamus est tenetur
            blanditiis quos natus!
          </p>
          <button class="btn btn-danger btn-sm">Book Now</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow lg">
          <img
            src="https://images.pexels.com/photos/12092806/pexels-photo-12092806.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="pic1"
          />
          <div class="card-body"></div>
          <p class="h3">Destination-3</p>
          <p>{{ getDate() }}</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
            enim rerum, dignissimos nemo necessitatibus accusamus est tenetur
            blanditiis quos natus!
          </p>
          <button class="btn btn-danger btn-sm">Book Now</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow lg">
          <img
            src="https://images.pexels.com/photos/12017866/pexels-photo-12017866.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=500&w=500"
            alt="pic1"
          />
          <div class="card-body"></div>
          <p class="h3">Destination-4</p>
          <p>{{ getDate() }}</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
            enim rerum, dignissimos nemo necessitatibus accusamus est tenetur
            blanditiis quos natus!
          </p>
          <button class="btn btn-danger btn-sm">Book Now</button>
        </div>
      </div>
    </div>
  </div>
  <img [src]="tourImage" alt="" />
</section>
