<!-- <pre>{{ country | json }}</pre> -->

<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="h3 text-danger">Country List And Fetching Error Handling</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo incidunt
          minima repellendus vel pariatur architecto quaerat eligendi beatae
          consectetur repudiandae?
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-hover text-center table-striped shadow-lg">
          <thead class="bg-secondary text-white">
            <tr>
              <th>Name</th>
              <th>Is Independent?</th>
              <th>Is UN Member</th>
              <th>Currency</th>
              <th>Capital</th>
              <th>Languages Used</th>
              <th>Population</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of country">
              <td>{{ user.name.official }}</td>
              <td>{{ user.independent }}</td>
              <td>{{ user.unMember }}</td>
              <td>{{ user.currencies | json }}</td>
              <td>{{ user.capital }}</td>
              <td>{{ user.languages | json }}</td>
              <td>{{ user.population }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
