<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col md-4">
        <div class="card shadow-lg">
          <div class="card-body">
            <h1 *ngIf="isLoggedin">Welcome User</h1>
            <h1 *ngIf="!isLoggedin">Please Log in First</h1>
            <button
              *ngIf="!isLoggedin"
              (click)="logIn()"
              class="btn btn-success btn-sm"
            >
              Log In
            </button>
            <button
              *ngIf="isLoggedin"
              (click)="logOut()"
              class="btn btn-danger btn-sm"
            >
              Log out
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
